.AboutUs {
    color: black;
}

.head {
    font-size: 5rem;
    justify-content: center;
    text-align: center;
    margin-top: 3.5%;
}

.content {
    font-size: 1.5rem;
    justify-content: center;
    width: 50%;
    letter-spacing: 5px;
    margin: 1% 25%;

}

.aboutImg {

    position: relative;
    width: 32%;
    margin-top: 3%;
    border-radius: 20px;


}