.dropdown-menuCustomer {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menuCustomer li {
  background: #01080f;
  cursor: pointer;
  border: 2px solid rgb(64, 62, 62);
}

.dropdown-menuCustomer li:hover {
  background: rgb(35, 67, 141);
}

.dropdown-menuCustomer.clickedCustomer {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

.dropdown-link:hover {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgb(23, 14, 14);
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}