.AddCoupon>form {

  width: 400px;
  text-align: left;
  border: 2px solid rgba(24, 64, 185, 0.616);
  padding: 20px;
  border-radius: 30px;
  margin-left: 40%;
  margin-top: 2%;
  background-color: rgb(6, 6, 6);
}

.AddCoupon h2 {
  text-align: center;
  margin-bottom: 20px;
}

.AddCoupon {
  color: rgba(25, 83, 219, 0.829);

}

.addButton {
  position: relative;
  padding: 8px 27px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 25px;
  color: rgb(20, 17, 14);
  background-color: rgba(51, 91, 201, 0.938);
  cursor: pointer;
  margin-top: 10px;
  margin-left: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.addButton:hover {

  font-size: 25px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: rgb(41, 85, 203);
  border-radius: 4px;
  transition: all 0.3s ease-out;

}

.AddCoupon span {
  position: absolute;
  color: rgb(195, 8, 61);
  margin: 0 30px;
  font-family: cursive
}

select,
input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 30px;

}

.back {
  position: relative;
  padding: 12px 27px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  color: rgb(20, 17, 14);
  background-color: rgba(51, 91, 201, 0.938);
  cursor: pointer;
  margin-left: 180px;
  margin-top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.back:hover {

  padding: 12px 27px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: rgb(41, 85, 203);
  border-radius: 4px;


}