@media (min-height: 600px),
screen and (orientation: portrait) {

  html,
  body,
  #root {

    margin: 0;
    padding: 0;
    text-align: center;
    color: whitesmoke;
    background-image: url("Assets/Image/new.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    font-family: fantasy;
    width: 100vw;
    height: 100vh;
  }
}